//color de cajas contenedoras:
$color-box:rgba(0, 0, 0, 0.185);



$color-letra:aliceblue;

//fuente de letras:
$tipo-letra:'Times New Roman', Times, serif;


//borders negro:
$border-black: 3px black solid;
//borders viper:
$border-viper:solid green 3px;
//border nav jettpag
$border-jett:solid rgb(2, 82, 255) 3px;
//border cypher pag:
$border-cypher: solid rgb(11, 112, 104) 3px;
//border brimstone pag:
$border-brim:solid rgb(197, 5, 5) 3px,