*{
    margin:0;
    padding: 0%;
    margin-bottom: 10pxv;
}

body{

    background-color: rgba(53, 53, 56, 0.966);
    animation: body 05s ease infinite;
    transition: 1ms;

}

.logoweb{height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    width: auto;
}

@keyframes body{
    0% {
        background-color: rgba(53, 53, 56, 0.966);
    }
    25%{
        background-color: rgb(38, 39, 38)
   
    }
    100%{
        background-color: rgba(53, 53, 56, 0.966);
    }
 }

 .viperpag{
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.185) ;
    width: 90%;
    height:100px;
    border: solid green 3px;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
     display: flex;
     justify-content: space-between;
   
    .nav-logo{
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        
        }
    .img-logo{
        text-align: center;
        width: 80px;
        height: 80px;
    }
    
    }
    
.nav-logo:hover{
    animation: nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes nav-logo{
    0% {
         background-color: rgb(16, 192, 10) ;
    }
    25%{
        background-color: rgb(0, 90, 33)
    }
    50%{
        background-color: rgb(9, 80, 35);
    }
    75%{
        background-color: rgb(0, 255, 0);
    }
    100%{
        background-color: green;
    }
 
 
 
 }

.ul-nav{
    list-style: none;
    display: flex;

    .li-nav{
     margin-top:10px;   
     margin-left: 30px;
     width: 80px;
     height: 80px;
     border-radius: 100%;

        .img-nav-li{ 
            text-align: center;
            width: width 80px;
            height: 80px;

        }

    }
    
}

.li-nav:hover{
    animation: nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes li-nav{
    0% {
         background-color: rgb(16, 192, 10) ;
    }
    25%{
        background-color: rgb(0, 90, 33)
    }
    50%{
        background-color: rgb(9, 80, 35);
    }
    75%{
        background-color: rgb(0, 255, 0);
    }
    100%{
        background-color: green;
    }
 }


 .jettpag{
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.185) ;
    width: 90%;
    height:100px;
    border: solid rgb(2, 82, 255) 3px;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
     display: flex;
     justify-content: space-between;
   
    .jett-nav-logo{
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        
        }
    .jett-img-logo{
        text-align: center;
        width: 80px;
        height: 80px;
    }
    
    }
    
.jett-nav-logo:hover{
    animation: jett-nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes jett-nav-logo{
    0% {
        background-color: rgb(4, 71, 255) ;
   }
   25%{
       background-color: rgb(25, 11, 148)
   }
   50%{
       background-color: rgb(52, 95, 236);
   }
   75%{
       background-color: rgb(27, 72, 155);
   }
   100%{
       background-color: rgb(27, 83, 204);
   }
 
 
 
 }

.jett-ul-nav{
    list-style: none;
    display: flex;

    .jett-li-nav{
     margin-top:10px;   
     margin-left: 30px;
     width: 80px;
     height: 80px;
     border-radius: 100%;

        .jett-img-nav-li{ 
            text-align: center;
            width: width 80px;
            height: 80px;

        }

    }
    
}

.jett-li-nav:hover{
    animation: jett-nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes jett-li-nav{
    0% {
         background-color: rgb(4, 71, 255) ;
    }
    25%{
        background-color: rgb(25, 11, 148)
    }
    50%{
        background-color: rgb(52, 95, 236);
    }
    75%{
        background-color: rgb(27, 72, 155);
    }
    100%{
        background-color: rgb(27, 83, 204);
    }
 }



 .cypag{
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.185) ;
    width: 90%;
    height:100px;
    border: solid rgb(11, 112, 104) 3px;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
     display: flex;
     justify-content: space-between;
   
    .cy-nav-logo{
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        
        }
    .cy-img-logo{
        text-align: center;
        width: 80px;
        height: 80px;
    }
    
    }
    
.cy-nav-logo:hover{
    animation: cy-nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes cy-nav-logo{
    0% {
        background-color: rgb(137, 200, 224) ;
   }
   25%{
       background-color: rgb(25, 94, 84)
   }
   50%{
       background-color: rgb(52, 224, 236);
   }
   75%{
       background-color: rgb(113, 213, 243);
   }
   100%{
       background-color: rgb(13, 90, 95);
   }
 
 
 }

.cy-ul-nav{
    list-style: none;
    display: flex;

    .cy-li-nav{
     margin-top:10px;   
     margin-left: 30px;
     width: 80px;
     height: 80px;
     border-radius: 100%;

        .cy-img-nav-li{ 
            text-align: center;
            width: width 80px;
            height: 80px;

        }

    }
    
}

.cy-li-nav:hover{
    animation: cy-nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes cy-li-nav{
    0% {
         background-color: rgb(137, 200, 224) ;
    }
    25%{
        background-color: rgb(25, 94, 84)
    }
    50%{
        background-color: rgb(52, 224, 236);
    }
    75%{
        background-color: rgb(113, 213, 243);
    }
    100%{
        background-color: rgb(13, 90, 95);
    }
 }




 .bmpag{
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0.185) ;
    width: 90%;
    height:100px;
    border: solid rgb(197, 5, 5) 3px;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
     display: flex;
     justify-content: space-between;
   
    .bm-nav-logo{
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        
        }
    .bm-img-logo{
        text-align: center;
        width: 80px;
        height: 80px;
    }
    
    }
    
.bm-nav-logo:hover{
    animation: bm-nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes bm-nav-logo{
    0% {
        background-color: rgb(185, 51, 51) ;
   }
   25%{
       background-color: rgb(100, 26, 16)
   }
   50%{
       background-color: rgb(114, 44, 44);
   }
   75%{
       background-color: rgb(233, 80, 80);
   }
   100%{
       background-color: rgb(204, 27, 27);
   }
 
 
 
 }

.bm-ul-nav{
    list-style: none;
    display: flex;

    .bm-li-nav{
     margin-top:10px;   
     margin-left: 30px;
     width: 80px;
     height: 80px;
     border-radius: 100%;

        .bm-img-nav-li{ 
            text-align: center;
            width: width 80px;
            height: 80px;

        }

    }
    
}

.bm-li-nav:hover{
    animation: bm-nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes bm-li-nav{
    0% {
        background-color: rgb(185, 51, 51) ;
   }
   25%{
       background-color: rgb(100, 26, 16)
   }
   50%{
       background-color: rgb(114, 44, 44);
   }
   75%{
       background-color: rgb(233, 80, 80);
   }
   100%{
       background-color: rgb(204, 27, 27);
   }
 }

 



 section{
     .section-contenedor{
         background-color:rgba(0, 0, 0, 0.185) ;
         margin-left: auto;
         margin-right: auto;
         width:80%;
         height: 900px;
         margin-top: 30px;
         border: solid 8px rgb(0, 0, 0);
         

         .boostrap-contenedor{
            margin-top: 5px;
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            height: auto;
            border-style: solid 8px black;
            
            h1{ 
                font-family: 'Times New Roman', Times, serif;
                margin-bottom: 20px;
                margin-top: 20px;
                background-color: rgba(53, 53, 56, 0.966);
                width: max-content 10px;
                height: auto;
                color: rgb(249, 255, 255);
                text-align: center;
                border:solid 5px rgb(0, 0, 0)

            }
        p{   
            text-align: center;
            margin-top: 20px;
             border:solid 5px rgb(0, 0, 0);
            font-family: 'Times New Roman', Times, serif;
            color: rgb(249, 255, 255);
        }; 
        
        }


     }
 }

 footer{
     .div-footer{
         background-color:rgba(0, 0, 0, 0.185);
         width: 85%;
         margin-left: auto;
         margin-right: auto;
         height:100px ;
        
    .ul-main{
    
        margin-bottom: 20px;
        display: flex;
        list-style: none;
        justify-content: center;
        margin-top: 100px;
    

        .img-footer{
            width: 30px;
            margin-top:50px;
          

        }    
         
    }
  
 }

.li-footer{
    margin-left: 100px;
    margin-right: 100px;
}
 }