@import"variables";



*{
    margin:0;
    padding: 0%;
}

body{
    background-color: rgba(53, 53, 56, 0.966);
    animation: body 05s ease infinite;
    transition: 1ms;

}

.logoweb{height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    width: auto;
}

@keyframes body{
    0% {
        background-color: rgba(53, 53, 56, 0.966);
    }
    25%{
        background-color: rgb(38, 39, 38)
   
    }
    100%{
        background-color: rgba(53, 53, 56, 0.966);
    }
 }



section{
    .div-contacto{
        background-color: $color-box ;
        width: 85%;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border:$border-black;
        
        .contenedor-bosstr1{
            margin-top: 20px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

}


section{
   
    h1{
        font-family:$tipo-letra;
        text-align: center;
         color:$color-letra;
        background-color:$color-box ;
        border:$border-black;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;



}
 p{
     font-family:$tipo-letra;
    text-align: center;
    color:$color-letra;
   background-color:$color-box ;
   border:$border-black;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 70%;
 }
}

textarea{
    width:100%;
    border:$border-black;
    
}
h5{
    font-family:$tipo-letra;
    text-align: center;
    color:$color-letra;
   background-color:$color-box ;
   border:$border-black;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}

h4{
    font-family:$tipo-letra;
    text-align: center;
    color:$color-letra;
   background-color:$color-box;
   border:$border-black;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   width:100%;
}

footer{
    .div-footer{
        background-color:$color-box;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height:100px ;
       
   .ul-main{
   
       margin-bottom: 20px;
       display: flex;
       list-style: none;
       justify-content: center;
       margin-top: 100px;
   

       .img-footer{
           width: 30px;
           margin-top:50px;
         

       }    
        
   }
 
}

.li-footer{
   margin-left: 100px;
   margin-right: 100px;
}
}
