@import"variables";


*{
    margin:0;
    padding: 0%;
}

body{
    background-color: rgba(53, 53, 56, 0.966);
    animation: body 05s ease infinite;
    transition: 1ms;

}

.logoweb{height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    width: auto;
}
    
@keyframes body{
    0% {
        background-color: rgba(53, 53, 56, 0.966);
    }
    25%{
        background-color: rgb(38, 39, 38)
   
    }
    100%{
        background-color: rgba(53, 53, 56, 0.966);
    }
 }



 .section-contenedor{
    background-color:$color-box ;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height: 950px;
    margin-top: 30px;
    border:$border-black;
    

    .boostrap-contenedor{
       margin-top: 5px;
       margin-left: auto;
       margin-right: auto;
       width: 85%;
       height: auto;
       border-style:$border-black;

     }
     h1{ 
        font-family:$tipo-letra;
        margin-bottom: 20px;
        margin-top: 20px;
        background-color: rgba(53, 53, 56, 0.966);
        width: max-content 10px;
        height: auto;
        color:$color-letra;
        text-align: center;
        border:$border-black;

    }
      }

      footer{
        .div-footer{
            background-color:$color-box;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
            height:100px ;
           
       .ul-main{
       
           margin-bottom: 20px;
           display: flex;
           list-style: none;
           justify-content: center;
           margin-top: 100px;
       
   
           .img-footer{
               width: 30px;
               margin-top:50px;
             
   
           }    
            
       }
     
    }
   
   .li-footer{
       margin-left: 100px;
       margin-right: 100px;
   }
    }