@import"variables";


*{
    margin:0;
    padding: 0%;
}

body{
    background-color: rgba(53, 53, 56, 0.966);
    animation: body 05s ease infinite;
    transition: 1ms;

}

.logoweb{height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    width: auto;
}

@keyframes body{
    0% {
        background-color: rgba(53, 53, 56, 0.966);
    }
    25%{
        background-color: rgb(38, 39, 38)
   
    }
    100%{
        background-color: rgba(53, 53, 56, 0.966);
    }
 }

 .viperpag{
    margin-top: 20px;
    background-color:$color-box ;
    width: 90%;
    height:100px;
    border: $border-viper;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
     display: flex;
     justify-content: space-between;
   
    .nav-logo{
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        
        }
    .img-logo{
        text-align: center;
        width: 80px;
        height: 80px;
    }
    
    }
    
.nav-logo:hover{
    animation: nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes nav-logo{
    0% {
         background-color: rgb(16, 192, 10) ;
    }
    25%{
        background-color: rgb(0, 90, 33)
    }
    50%{
        background-color: rgb(9, 80, 35);
    }
    75%{
        background-color: rgb(0, 255, 0);
    }
    100%{
        background-color: green;
    }
 
 
 
 }

 
.ul-nav{
    list-style: none;
    display: flex;

    .li-nav{
     margin-top:10px;   
     margin-left: 30px;
     width: 80px;
     height: 80px;
     border-radius: 100%;

        .img-nav-li{ 
            text-align: center;
            width: width 80px;
            height: 80px;

        }

    }
    
}

.li-nav:hover{
    animation: nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes li-nav{
    0% {
         background-color: rgb(16, 192, 10) ;
    }
    25%{
        background-color: rgb(0, 90, 33)
    }
    50%{
        background-color: rgb(9, 80, 35);
    }
    75%{
        background-color: rgb(0, 255, 0);
    }
    100%{
        background-color: green;
    }
 }
 @media (max-width:580px){
    .viperpag{
        margin-top: 10px;
        width:99%;
        height:70px;
    }
    nav{
       .nav-logo{
           margin-top: 15px;
           width: 40px;
           height: 40px;
           }
       .img-logo{
           width: 40px;
           height: 40px;
       } 
       }
       .ul-nav{
        list-style: none;
        display: flex;
    
        .li-nav{
         margin-top:10px;   
         margin-left: 10px;
         width: 50px;
         height: 50px;
         border-radius: 100%;
    
            .img-nav-li{ 
                text-align: center;
                width: width 50px;
                height: 50px;
            }
        }
    }
     }


     section{
        .cortina-toxica{
           margin-top: 50px;
           background-color:$color-box ;
           width: 90%;
           height: 2000px;
           margin-left: auto;
           margin-right: auto;
           border:$border-viper;
           
           .img-cortina-toxica{
               width: 200px;
               border:$border-viper;
           
           }
   
           .div-img{
               margin-top: 30px;
               text-align: center;}
        }
    }
    @media (max-width:580px){
       section{
           h2{
               margin-bottom: 50px;
           }
           .cortina-toxica{
              margin-top: 10px;
           
              width: 99%;
              height: 2000px; 
            .img-cortina-toxica{
                  width: 100px;
              }
              .div-img{
                  margin-top: 10px;
                  text-align: center;
              }
           }
       }
    }
    @media (max-width:1500px){
       section{
           .cortina-toxica{
              height: 3000px;
              padding-left: 15px; 
            }
        }
    }
    @media (max-width:580px){
       section{
           .cortina-toxica{
              height: 1900px; 
            }
        }
    }
    section{
        h2{
           margin-top: 20px;
           font-family:$tipo-letra;
           color:$color-letra;
           text-align: center;
        }
    }
   
    .contenedor-videos{
        grid-template-columns: 650px 650px;
        grid-template-rows: 400px 400px 400px;
        gap:10%;
       row-gap: 30px;
        display: grid;
        justify-content: center;
   
    }
    .video-responsive {
       height: 0;
       overflow: hidden;
       padding-bottom: 56.25%;
       padding-top: 30px;
       position: relative;
       }
   .video-responsive iframe, .video-responsive object, .video-responsive embed {
       height: 100%;
       left: 0;
       position: absolute;
       top: 0;
       width: 96%;
       }
       @media (max-width:1700px){
           .contenedor-videos{
               gap:1%;
           }
       } 
       @media (max-width:1500px){
           .contenedor-videos{
               grid-template-columns: 650px;
               grid-template-rows: 400px 400px 400px 400px 400px 400px;
               row-gap: 20px; 
           }   
       }
    @media (max-width:580px){
       section{
           h2{
              margin-top: 25px;
           }
       }
       .contenedor-videos{
           grid-template-columns: 98%;
           grid-template-rows: 250px 250px 250px 250px 250px 250px;
           gap:10px;
          row-gap:30px;
           display: grid;
           justify-content: center;
       }
    }
   
 footer{
    .div-footer{
        background-color:$color-box;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height:100px ;
       
   .ul-main{
   
       margin-bottom: 20px;
       display: flex;
       list-style: none;
       justify-content: center;
       margin-top: 100px;
   

       .img-footer{
           width: 30px;
           margin-top:50px;
         

       }    
        
   }
 
}

.li-footer{
   margin-left: 100px;
   margin-right: 100px;
}
}
@media (max-width:660px){
    footer{
        .div-footer{
            background-color:$color-box;
            width: 100%;
             }
   
 } }

 @media (max-width:580px){
    footer .div-footer .ul-main .img-footer {
        width: 15px;
        margin-top: 35px;
      }
      footer .li-footer {
        margin-left: 28px;
        margin-right: 50px;
      }

 }