@import"variables";


*{
    margin:0;
    padding: 0%;
}

body{
    background-color: rgba(53, 53, 56, 0.966);
    animation: body 05s ease infinite;
    transition: 1ms;

}

.logoweb{height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
    width: auto;
}

@keyframes body{
    0% {
        background-color: rgba(53, 53, 56, 0.966);
    }
    25%{
        background-color: rgb(38, 39, 38)
   
    }
    100%{
        background-color: rgba(53, 53, 56, 0.966);
    }
 }

 .viperpag{
    margin-top: 20px;
    background-color:$color-box;
    width: 90%;
    height:100px;
    border:$border-viper;
    margin-left: auto;
    margin-right: auto;
   
}


nav{
     display: flex;
     justify-content: space-between;
   
    .nav-logo{
        margin-top: 10px;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        
        }
    .img-logo{
        text-align: center;
        width: 80px;
        height: 80px;
    }
    
    }
    
.nav-logo:hover{
    animation: nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes nav-logo{
    0% {
         background-color: rgb(16, 192, 10) ;
    }
    25%{
        background-color: rgb(0, 90, 33)
    }
    50%{
        background-color: rgb(9, 80, 35);
    }
    75%{
        background-color: rgb(0, 255, 0);
    }
    100%{
        background-color: green;
    }
 
 
 
 }

.ul-nav{
    list-style: none;
    display: flex;

    .li-nav{
     margin-top:10px;   
     margin-left: 30px;
     width: 80px;
     height: 80px;
     border-radius: 100%;

        .img-nav-li{ 
            text-align: center;
            width: width 80px;
            height: 80px;

        }

    }
    
}

.li-nav:hover{
    animation: nav-logo 05s ease infinite;
    transition: 1ms;
}

@keyframes li-nav{
    0% {
         background-color: rgb(16, 192, 10) ;
    }
    25%{
        background-color: rgb(0, 90, 33)
    }
    50%{
        background-color: rgb(9, 80, 35);
    }
    75%{
        background-color: rgb(0, 255, 0);
    }
    100%{
        background-color: green;
    }
 }
 @media (max-width:580px){
    .viperpag{
        margin-top: 10px;
        width:99%;
        height:70px;
    }

    nav{
       .nav-logo{
           margin-top: 15px;
           width: 40px;
           height: 40px;
           }
       .img-logo{
           width: 40px;
           height: 40px;
       } 
       }

       .ul-nav{
        list-style: none;
        display: flex;
    
        .li-nav{
         margin-top:10px;   
         margin-left: 10px;
         width: 50px;
         height: 50px;
         border-radius: 100%;
    
            .img-nav-li{ 
                text-align: center;
                width: width 50px;
                height: 50px;
    
            }
    
        }
        
    }
     }

section{
    .viperinfo{
        margin-top: 50px;
        background-color:$color-box ;
        width: 90%;
        height: 220px;
        margin-left: auto;
        margin-right: auto;
        border:$border-viper;
        
        .titulo{
            margin-top: 20px;
            font-family:$tipo-letra;
            color:$color-letra;
             text-align: center;


        }

        p{ margin-top: 20px;
            font-family:$tipo-letra;
            color:$color-letra;
             text-align: center;
             font-size:20px;
             

        }
    }



}


 section{

    .contenedor-habilidades-info{
        margin-top: 50px;
        background-color:$color-box ;
        width: 90%;
        height:150px;
        margin-left: auto;
        margin-right: auto;
        border:$border-viper;

        img{
        margin-left: 30px;   
        margin-top: 40px;
        width: 30px;   
      } 

    }
   
 }

 .contenedor-habilidades-info{
     margin-left: auto;
     margin-right: auto;
     display: flex;
 h2{
     margin-top: 40px;
    font-family:$tipo-letra;
    color:$color-letra;
     margin-left: 20px;
    
 }
p{ 
    margin-top: 40px;
    font-family:$tipo-letra;
    color:$color-letra;
     margin-left:100px;
    
}
 }


 section{
     .contenedor-habilidad1{
         display: flex;
        margin-top: 50px;
        background-color:$color-box ;
        width: 90%;
        height:150px;
        margin-left: auto;
        margin-right: auto;
        border:$border-viper;

     }
     
     .img-habilidad{
     width: 100px;}

     h2{
        margin-top: 20px;
        font-size: 20px;
        font-family:$tipo-letra;
        color:$color-letra;
         text-align: center;
        
     }
     .phabili1dad {
         margin-left:20px;
     margin-top: 20px;
     font-family:$tipo-letra;
     color:$color-letra;
    }
 }


 section{
     .habilidad2{
        display: flex;
        margin-top: 50px;
        background-color:$color-box ;
        width: 90%;
        height:150px;
        margin-left: auto;
        margin-right: auto;
        border:$border-viper;
        .p-habilidad2{
            margin-top: 40px;
            font-family:$tipo-letra;
            color:$color-letra;
             margin-left:40px;
            

        }
     }


 }

 section{
    .habilidad3{
        display: flex;
        margin-top: 50px;
        background-color:$color-box ;
        width: 90%;
        height:150px;
        margin-left: auto;
        margin-right: auto;
        border:$border-viper;
     
     .p-habilidad3{
        margin-top: 40px;
        font-family: $tipo-letra;
        color:$color-letra;
         margin-left:100px;
        

     }
 }
 }

 section{
    .habilidad4{
        display: flex;
        margin-top: 50px;
        background-color:$color-box ;
        width: 90%;
        height:150px;
        margin-left: auto;
        margin-right: auto;
        border:$border-viper;
     
     .p-habilidad4{
        margin-top: 10px;
        font-family:$tipo-letra;
        color:$color-letra;
         margin-left:100px;
        

     }
 }
 }
 
 @media (max-width:770px){
    section{
        .viperinfo{
            margin-top: 15px;
            padding-top: 15px;
            width: 99%;
            height: 300px;
            .titulo{
                margin-top: 10px;
            }
            p{ 
                margin-top: 15px;  
            }
        }
    }
     section{
        .contenedor-habilidades-info{
            display:inline-block;
            margin-top: 20px;
            width: 99%;
            height:200px;
            margin-left: auto;
            margin-right: auto;
            
            .img-controlador{
           display: none;
          } 
        }
     }
     .contenedor-habilidades-info{
         margin-left: auto;
         margin-right: auto; 
     h2{
         margin-top: 10px;
         margin-left: 0px; 
     }
    p{ 
        margin-top: 20px;
        font-family:$tipo-letra;
        color:$color-letra;
         margin-left: 10px;
        
    }
     }
    
    
     section{
         .contenedor-habilidad1{
           display: inline-block;
            margin-top: 20px;
            background-color:$color-box ;
            width: 99%;
            height:310px;
            margin-left: auto;
            margin-right: auto;
            border:$border-viper;
    
         }
         
         .img-habilidad{
         width: 80px;}
         text-align: center;
    
         h2{
            margin-top: 10px;
            font-size: 20px; 
         }
         .phabili1dad {
             margin-left:10px;
         margin-top: 10px;
        }
     }         
     section{
         .habilidad2{
            display: inline-block;
            margin-top: 20px;
            width: 99%;
            height:290px;
            .p-habilidad2{
                margin-top: 10px;
                 margin-left:10px;
            }
         }
     }

     section{
        .habilidad3{
            display: inline-block;
            margin-top: 20px;
            width: 99%;
            height:280px;
         .p-habilidad3{
            margin-top: 10px;
             margin-left:10px;
         }
     }
     }
    
     section{
        .habilidad4{
            display:inline-block;
            margin-top: 20px;
            background-color:$color-box ;
            width: 99%;
            height:320px;
           
         
         .p-habilidad4{
            margin-top: 10px;
            font-family:$tipo-letra;
            color:$color-letra;
             margin-left:10px;
            
    
         }
     }
     }

 }


 footer{
    .div-footer{
        background-color:$color-box;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        height:100px ;
       
   .ul-main{
   
       margin-bottom: 20px;
       display: flex;
       list-style: none;
       justify-content: center;
       margin-top: 100px;
   

       .img-footer{
           width: 30px;
           margin-top:50px;
         

       }    
        
   }
 
}

.li-footer{
   margin-left: 100px;
   margin-right: 100px;
}
}

@media (max-width:660px){
    footer{
        .div-footer{
            background-color:$color-box;
            width: 100%;
             }
   
 } }

 @media (max-width:580px){
    footer .div-footer .ul-main .img-footer {
        width: 15px;
        margin-top: 35px;
      }
      footer .li-footer {
        margin-left: 28px;
        margin-right: 50px;
      }

 }

